BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v2.x.x and v3.0.x

# The clock "usb" and "gpdi" sheet

#ULX3S
#LOCATE COMP "clk_osc" SITE "G2";

#i5-v6.0
LOCATE COMP "clk_osc" SITE "P3";
IOBUF  PORT "clk_osc" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_osc" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "uart_tx[0]" SITE "J17"; # FPGA transmits to ftdi
IOBUF  PORT "uart_tx[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "uart_rx[0]" SITE "H18"; # FPGA received to ftdi
IOBUF  PORT "uart_rx[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
## USBSERIAL FTDI-FPGA serial port "usb" sheet
#LOCATE COMP "ftdi_rxd" SITE "L4"; # FPGA transmits to ftdi
#LOCATE COMP "ftdi_txd" SITE "M1"; # FPGA receives from ftdi
#LOCATE COMP "ftdi_nrts" SITE "M3"; # FPGA receives
#LOCATE COMP "ftdi_ndtr" SITE "N1"; # FPGA receives
#LOCATE COMP "ftdi_txden" SITE "L3"; # FPGA receives
#IOBUF  PORT "ftdi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "ftdi_txd" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "ftdi_nrts" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "ftdi_ndtr" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "ftdi_txden" PULLMODE=UP IO_TYPE=LVCMOS33;

## LED indicators "blinkey" and "gpio" sheet
#LOCATE COMP "led[7]" SITE "H3";
#LOCATE COMP "led[6]" SITE "E1";
#LOCATE COMP "led[5]" SITE "E2";
#LOCATE COMP "led[4]" SITE "D1";
#LOCATE COMP "led[3]" SITE "D2";
#LOCATE COMP "led[2]" SITE "C1";
#LOCATE COMP "led[1]" SITE "C2";
#LOCATE COMP "led[0]" SITE "B2";
#IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Pushbuttons "blinkey", "flash", "power", "gpdi" sheet
LOCATE COMP "btn[0]" SITE "D6";  # BTN_PWRn (inverted logic)
LOCATE COMP "btn[1]" SITE "R1";  # FIRE1
LOCATE COMP "btn[2]" SITE "T1";  # FIRE2
LOCATE COMP "btn[3]" SITE "R18"; # UP W1->R18
LOCATE COMP "btn[4]" SITE "V1";  # DOWN
LOCATE COMP "btn[5]" SITE "U1";  # LEFT
LOCATE COMP "btn[6]" SITE "H16"; # RIGHT Y2->H16
IOBUF  PORT "btn[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## DIP switch "blinkey", "gpio" sheet
LOCATE COMP "sw[0]" SITE "E8"; # SW1
LOCATE COMP "sw[1]" SITE "D8"; # SW2
LOCATE COMP "sw[2]" SITE "D7"; # SW3
LOCATE COMP "sw[3]" SITE "E7"; # SW4
IOBUF  PORT "sw[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sw[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sw[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sw[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## SPI OLED DISPLAY SSD1331 (Color) or SSD1306 (B/W) "blinkey", "usb" sheet
LOCATE COMP "uart_tx[1]" SITE "H4";
LOCATE COMP "uart_rx[1]" SITE "G3";
LOCATE COMP "oled_sck" SITE "F2";
LOCATE COMP "oled_dc" SITE "H3";
LOCATE COMP "oled_rst" SITE "F3";
LOCATE COMP "oled_vccen" SITE "E4";
LOCATE COMP "oled_pmoden" SITE "E1";

IOBUF  PORT "uart_tx[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "uart_rx[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_sck" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_dc" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_rst" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_vccen" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_pmoden" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# 4 bit vga hdmi pmod
#LOCATE COMP "g"    SITE "H4";
#LOCATE COMP "ck"   SITE "G3";
#LOCATE COMP "hs"   SITE "F1";
#LOCATE COMP "int_" SITE "F2";
#
#LOCATE COMP "r"    SITE "H3";
#LOCATE COMP "b"    SITE "F3";
#LOCATE COMP "de"   SITE "E4";
#LOCATE COMP "vs"   SITE "E1";
#
#IOBUF  PORT "g"    PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "ck"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "hs"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "int_" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "r"    PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "b"    PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "de"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "vs"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## upper
LOCATE COMP "spi_cen0" SITE "D1";
LOCATE COMP "spi_sio0_si_mosi0" SITE "C1";
LOCATE COMP "spi_sio1_so_miso0" SITE "C2";
LOCATE COMP "spi_sclk0" SITE "E3";

## bottom
LOCATE COMP "gpio[4]" SITE "E2";
LOCATE COMP "gpio[5]" SITE "D2";
LOCATE COMP "gpio[6]" SITE "B1";
LOCATE COMP "gpio[7]" SITE "A3";

# if you use spi bitbang, just remove PULLMODE=UP from property
IOBUF  PORT "spi_cen0"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "spi_sio0_si_mosi0"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "spi_sio1_so_miso0"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "spi_sclk0"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "gpio[4]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "gpio[5]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "gpio[6]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "gpio[7]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=16;


## upper
#LOCATE COMP "gpio[8]" SITE "C17";
#LOCATE COMP "gpio[9]" SITE "B18";
#LOCATE COMP "gpio[10]" SITE "B20";
#LOCATE COMP "gpio[11]" SITE "F20";
#
#### bottom
#LOCATE COMP "gpio[12]" SITE "A18";
#LOCATE COMP "gpio[13]" SITE "A19";
#LOCATE COMP "gpio[14]" SITE "B19";
#LOCATE COMP "gpio[15]" SITE "D20";
##
#IOBUF  PORT "gpio[8]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[9]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[12]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[13]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[14]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[15]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# upper
LOCATE COMP "psram_ss"   SITE "C17";
LOCATE COMP "psram_mosi" SITE "B18";
LOCATE COMP "psram_miso" SITE "B20";
LOCATE COMP "psram_sclk" SITE "F20";

## bottom
LOCATE COMP "psram_sio2"  SITE "A18";
LOCATE COMP "psram_sio3"  SITE "A19";
LOCATE COMP "psram_cs[0]" SITE "B19";
LOCATE COMP "psram_cs[1]" SITE "D20";

IOBUF  PORT "psram_ss"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;
IOBUF  PORT "psram_mosi"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;
IOBUF  PORT "psram_miso"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;
IOBUF  PORT "psram_sclk"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;
IOBUF  PORT "psram_sio2"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;
IOBUF  PORT "psram_sio3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;
IOBUF  PORT "psram_cs[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;
IOBUF  PORT "psram_cs[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=SLOW;

# upper
#LOCATE COMP "ss" SITE "R1";
#LOCATE COMP "mosi" SITE "U1";
#LOCATE COMP "miso" SITE "W1";
#LOCATE COMP "sclk" SITE "M1";
#
### bottom
#LOCATE COMP "sio2" SITE "T1";
#LOCATE COMP "sio3" SITE "Y2";
#LOCATE COMP "cs[0]" SITE "V1";
#LOCATE COMP "cs[1]" SITE "N2";
#
#IOBUF  PORT "ss"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "mosi"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "sclk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "sio2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "sio3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "cs[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "cs[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;


## SPI Flash chip "flash" sheet
LOCATE COMP "flash_csn" SITE "R2";
LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_miso" SITE "V2";
LOCATE COMP "flash_io3" SITE "W1";
LOCATE COMP "flash_io2" SITE "Y2";
#LOCATE COMP "flash_csspin" SITE "AJ3";
#LOCATE COMP "flash_initn" SITE "AG4";
#LOCATE COMP "flash_done" SITE "AJ4";
#LOCATE COMP "flash_programn" SITE "AH4";
#LOCATE COMP "flash_cfg_select[0]" SITE "AM4";
#LOCATE COMP "flash_cfg_select[1]" SITE "AL4";
#LOCATE COMP "flash_cfg_select[2]" SITE "AK4";
IOBUF  PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_clk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_io3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_io2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_csspin" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_initn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_done" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## SD card "sdcard", "usb" sheet
LOCATE COMP "sd_clk" SITE "H2"; # sd_clk WiFi_GPIO14
LOCATE COMP "sd_cmd" SITE "J1"; # sd_cmd_di (MOSI) WiFi GPIO15
LOCATE COMP "sd_d[0]" SITE "J3"; # sd_dat0_do (MISO) WiFi GPIO2
LOCATE COMP "sd_d[1]" SITE "H1"; # sd_dat1_irq WiFi GPIO4
LOCATE COMP "sd_d[2]" SITE "K1"; # sd_dat2 WiFi_GPIO12
LOCATE COMP "sd_d[3]" SITE "K2"; # sd_dat3_csn WiFi_GPIO13
LOCATE COMP "sd_wp" SITE "P5"; # not connected
LOCATE COMP "sd_cdn" SITE "N5"; # not connected
IOBUF  PORT "sd_clk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_cmd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_d[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_d[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_d[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # WiFi GPIO12 pulldown bootstrapping requirement
IOBUF  PORT "sd_d[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_wp" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_cdn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## ADC SPI (MAX11123) "analog", "ram" sheet
LOCATE COMP "adc_csn" SITE "R17";
LOCATE COMP "adc_mosi" SITE "R16";
#LOCATE COMP "adc_miso" SITE "U16";
LOCATE COMP "led" SITE "U16";
LOCATE COMP "adc_sclk" SITE "P17";
IOBUF  PORT "adc_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "adc_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "adc_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "adc_sclk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## Audio 4-bit DAC "analog", "gpio" sheet
# 4-bit mode can drive down to 75 ohm load impedance.
# Lower impedance leads to IO overload,
# FPGA will stop working and need reboot.
# For standard 17 ohm earphones on PCB v1.7:
# use bits 2,3 as input (High-Z) and drive only bits 0,1.
# PCB v2.1.2 can use full 4 bits and 16mA drive for 17 ohm earphones.
#LOCATE COMP "audio_l[3]" SITE "B3"; # JACK TIP (left audio)
#LOCATE COMP "audio_l[2]" SITE "C3";
#LOCATE COMP "audio_l[1]" SITE "D3";
#LOCATE COMP "audio_l[0]" SITE "E4";
#LOCATE COMP "audio_r[3]" SITE "C5"; # JACK RING1 (right audio)
#LOCATE COMP "audio_r[2]" SITE "D5";
#LOCATE COMP "audio_r[1]" SITE "B5";
#LOCATE COMP "audio_r[0]" SITE "A3";
#LOCATE COMP "audio_v[3]" SITE "E5"; # JACK RING2 (video or digital audio)
#LOCATE COMP "audio_v[2]" SITE "F5";
#LOCATE COMP "audio_v[1]" SITE "F2";
#LOCATE COMP "audio_v[0]" SITE "H5";
#IOBUF  PORT "audio_l[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_l[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_l[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_l[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_r[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_r[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_r[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_r[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_v[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_v[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_v[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF  PORT "audio_v[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;

## WiFi ESP-32 "wifi", "usb", "flash" sheet
# other pins are shared with GP/GN, SD card and JTAG
#LOCATE COMP "wifi_en" SITE "F1"; # enable/reset WiFi
#LOCATE COMP "wifi_rxd" SITE "K3"; # FPGA transmits to WiFi
#LOCATE COMP "wifi_txd" SITE "K4"; # FPGA receives from WiFi
#LOCATE COMP "wifi_gpio0" SITE "L2";
#LOCATE COMP "wifi_gpio5" SITE "N4"; # WIFI LED
#LOCATE COMP "wifi_gpio16" SITE "L1"; # Serial1 RX
#LOCATE COMP "wifi_gpio17" SITE "N3"; # Serial1 TX
# LOCATE COMP "prog_done" SITE "Y3"; # not GPIO, always active
#IOBUF  PORT "wifi_en" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
##IOBUF  PORT "wifi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "wifi_txd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "wifi_gpio0" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "wifi_gpio16" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "wifi_gpio17" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF  PORT "prog_done" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## PCB antenna 433 MHz (may be also used for FM) "usb" sheet
LOCATE COMP "ant_433mhz" SITE "G1";
IOBUF  PORT "ant_433mhz" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Second USB port "US2" going directly into FPGA "usb", "ram" sheet
LOCATE COMP "usb_fpga_dp" SITE "E16"; # single ended or differential input only
LOCATE COMP "usb_fpga_dn" SITE "F16";
IOBUF  PORT "usb_fpga_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "usb_fpga_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
LOCATE COMP "usb_fpga_bd_dp" SITE "D15"; # differential bidirectional
LOCATE COMP "usb_fpga_bd_dn" SITE "E15";
IOBUF  PORT "usb_fpga_bd_dp" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF  PORT "usb_fpga_bd_dn" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "usb_fpga_pu_dp" SITE "B12"; # pull up/down control
LOCATE COMP "usb_fpga_pu_dn" SITE "C12";
IOBUF  PORT "usb_fpga_pu_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "usb_fpga_pu_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;

## JTAG ESP-32 "usb" sheet
# connected to FT231X and ESP-32
# commented out because those are dedicated pins, not directly useable as GPIO
# but could be used by some vendor-specific JTAG bridging (boundary scan) module
#LOCATE COMP "jtag_tdi" SITE "R5"; # FTDI_nRI   FPGA receives
#LOCATE COMP "jtag_tdo" SITE "V4"; # FTDI_nCTS  FPGA transmits
#LOCATE COMP "jtag_tck" SITE "T5"; # FTDI_nDSR  FPGA receives
#LOCATE COMP "jtag_tms" SITE "U5"; # FTDI_nDCD  FPGA receives
#IOBUF  PORT "jtag_tdi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "jtag_tdo" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "jtag_tck" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "jtag_tms" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SDRAM "ram" sheet

# GPDI differential interface (Video) "gpdi" sheet
#LOCATE COMP "gpdi_dp[0]" SITE "A16"; # Blue +
#LOCATE COMP "gpdi_dn[0]" SITE "B16"; # Blue -
#LOCATE COMP "gpdi_dp[1]" SITE "A14"; # Green +
#LOCATE COMP "gpdi_dn[1]" SITE "C14"; # Green -
#LOCATE COMP "gpdi_dp[2]" SITE "A12"; # Red +
#LOCATE COMP "gpdi_dn[2]" SITE "A13"; # Red -
#LOCATE COMP "gpdi_dp[3]" SITE "A17"; # Clock +
#LOCATE COMP "gpdi_dn[3]" SITE "B18"; # Clock -

#i5-v6.0 HDMI
LOCATE COMP "gpdi_dp[0]" SITE "G19"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "H20"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "E20"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "F19"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "C20"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "D19"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "J19"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "K19"; # Clock -

#i5-v6.0 PMOD-HDMI-P3a
#LOCATE COMP "gpdi_dp[0]" SITE "C2"; # Blue +
#LOCATE COMP "gpdi_dn[0]" SITE "E3"; # Blue -
#LOCATE COMP "gpdi_dp[1]" SITE "E2"; # Green +
#LOCATE COMP "gpdi_dn[1]" SITE "D2"; # Green -
#LOCATE COMP "gpdi_dp[2]" SITE "D1"; # Red +
#LOCATE COMP "gpdi_dn[2]" SITE "C1"; # Red -
#LOCATE COMP "gpdi_dp[3]" SITE "B1"; # Clock +
#LOCATE COMP "gpdi_dn[3]" SITE "A3"; # Clock -

#i5-v6.0 PMOD-HDMI-P3b
#LOCATE COMP "gpdi_dp[0]" SITE "B20"; # Blue +
#LOCATE COMP "gpdi_dn[0]" SITE "F20"; # Blue -
#LOCATE COMP "gpdi_dp[1]" SITE "A18"; # Green +
#LOCATE COMP "gpdi_dn[1]" SITE "A19"; # Green -
#LOCATE COMP "gpdi_dp[2]" SITE "C17"; # Red +
#LOCATE COMP "gpdi_dn[2]" SITE "B18"; # Red -
#LOCATE COMP "gpdi_dp[3]" SITE "B19"; # Clock +
#LOCATE COMP "gpdi_dn[3]" SITE "D20"; # Clock -

#LOCATE COMP "gpdi_ethp" SITE "A19"; # Ethernet +
#LOCATE COMP "gpdi_ethn" SITE "B20"; # Ethernet -
#LOCATE COMP "gpdi_cec" SITE "A18";
#LOCATE COMP "gpdi_sda" SITE "B19"; # I2C shared with RTC
#LOCATE COMP "gpdi_scl" SITE "E12"; # I2C shared with RTC C12->E12
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_ethp" IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_ethn" IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_cec" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_sda" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_scl" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;


LOCATE COMP "sdram_clk" SITE	"B9";
#LOCATE COMP "sdram_cke" SITE	VCC
#LOCATE COMP "sdram_cs_n" SITE	GND
LOCATE COMP "sdram_rasn" SITE	"B10";
LOCATE COMP "sdram_casn" SITE	"A9";
LOCATE COMP "sdram_wen" SITE	"A10";

IBUF PORT "sdram_clk" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_cken" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_csn" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_rasn" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_casn" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_wen" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;

LOCATE COMP "sdram_ba[0]" SITE	"B11";
LOCATE COMP "sdram_ba[1]" SITE	"C8";
IBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;

LOCATE COMP "sdram_addr[0]" SITE	"B13";
LOCATE COMP "sdram_addr[1]" SITE	"C14";
LOCATE COMP "sdram_addr[2]" SITE	"A16";
LOCATE COMP "sdram_addr[3]" SITE	"A17";
LOCATE COMP "sdram_addr[4]" SITE	"B16";
LOCATE COMP "sdram_addr[5]" SITE	"B15";
LOCATE COMP "sdram_addr[6]" SITE	"A14";
LOCATE COMP "sdram_addr[7]" SITE	"A13";
LOCATE COMP "sdram_addr[8]" SITE	"A12";
LOCATE COMP "sdram_addr[9]" SITE	"A11";
LOCATE COMP "sdram_addr[10]" SITE	"B12";

IBUF PORT "sdram_addr[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_addr[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;

#LOCATE COMP "sdram_dq[0]" SITE  "D15";
#LOCATE COMP "sdram_dq[1]" SITE  "E14";
#LOCATE COMP "sdram_dq[2]" SITE	"E13";
#LOCATE COMP "sdram_dq[3]" SITE	"D12";
#LOCATE COMP "sdram_dq[4]" SITE	"E12";
#LOCATE COMP "sdram_dq[5]" SITE	"D11";
#LOCATE COMP "sdram_dq[6]" SITE	"C10";
#LOCATE COMP "sdram_dq[7]" SITE	"B17";
#LOCATE COMP "sdram_dq[8]" SITE	"B8";
#LOCATE COMP "sdram_dq[9]" SITE	"A8";
#LOCATE COMP "sdram_dq[10]" SITE "C7";
#LOCATE COMP "sdram_dq[11]" SITE "A7";
#LOCATE COMP "sdram_dq[12]" SITE "A6";
#LOCATE COMP "sdram_dq[13]" SITE "B6";
#LOCATE COMP "sdram_dq[14]" SITE "A5";
#LOCATE COMP "sdram_dq[15]" SITE "B5";
#LOCATE COMP "sdram_dq[16]" SITE "D5";
#LOCATE COMP "sdram_dq[17]" SITE "C5";
#LOCATE COMP "sdram_dq[18]" SITE "D6";
#LOCATE COMP "sdram_dq[19]" SITE "C6";
#LOCATE COMP "sdram_dq[20]" SITE "E7";
#LOCATE COMP "sdram_dq[21]" SITE "D7";
#LOCATE COMP "sdram_dq[22]" SITE "E8";
#LOCATE COMP "sdram_dq[23]" SITE "D8";
#LOCATE COMP "sdram_dq[24]" SITE "E9";
#LOCATE COMP "sdram_dq[25]" SITE "D9";
#LOCATE COMP "sdram_dq[26]" SITE "E11";
#LOCATE COMP "sdram_dq[27]" SITE "C11";
#LOCATE COMP "sdram_dq[28]" SITE "C12";
#LOCATE COMP "sdram_dq[29]" SITE "D13";
#LOCATE COMP "sdram_dq[30]" SITE "D14";
#LOCATE COMP "sdram_dq[31]" SITE "C15";

LOCATE COMP "sdram_dq[0]" SITE  "B6";
LOCATE COMP "sdram_dq[1]" SITE  "A5";
LOCATE COMP "sdram_dq[2]" SITE	"A6";
LOCATE COMP "sdram_dq[3]" SITE	"A7";
LOCATE COMP "sdram_dq[4]" SITE	"C7";
LOCATE COMP "sdram_dq[5]" SITE	"B8";
LOCATE COMP "sdram_dq[6]" SITE	"B5";
LOCATE COMP "sdram_dq[7]" SITE	"A8";
LOCATE COMP "sdram_dq[8]" SITE	"D8";
LOCATE COMP "sdram_dq[9]" SITE	"D7";
LOCATE COMP "sdram_dq[10]" SITE "E8";
LOCATE COMP "sdram_dq[11]" SITE "D6";
LOCATE COMP "sdram_dq[12]" SITE "C6";
LOCATE COMP "sdram_dq[13]" SITE "D5";
LOCATE COMP "sdram_dq[14]" SITE "E7";
LOCATE COMP "sdram_dq[15]" SITE "C5";
LOCATE COMP "sdram_dq[16]" SITE "C10";
LOCATE COMP "sdram_dq[17]" SITE "D9";
LOCATE COMP "sdram_dq[18]" SITE "E11";
LOCATE COMP "sdram_dq[19]" SITE "D11";
LOCATE COMP "sdram_dq[20]" SITE "C11";
LOCATE COMP "sdram_dq[21]" SITE "D12";
LOCATE COMP "sdram_dq[22]" SITE "E9";
LOCATE COMP "sdram_dq[23]" SITE "C12";
LOCATE COMP "sdram_dq[24]" SITE "E14";
LOCATE COMP "sdram_dq[25]" SITE "C15";
LOCATE COMP "sdram_dq[26]" SITE "E13";
LOCATE COMP "sdram_dq[27]" SITE "D15";
LOCATE COMP "sdram_dq[28]" SITE "E12";
LOCATE COMP "sdram_dq[29]" SITE "B17";
LOCATE COMP "sdram_dq[30]" SITE "D14";
LOCATE COMP "sdram_dq[31]" SITE "D13";
IBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[16]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[17]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[18]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[19]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[20]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[21]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[22]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[23]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[24]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[25]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[26]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[27]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[28]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[29]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[30]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;
IBUF PORT "sdram_dq[31]" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=4;


## PROGRAMN (reload bitstream from FLASH, exit from bootloader)
# PCB v2.0.5 and higher
LOCATE COMP "user_programn" SITE "M4";
IOBUF  PORT "user_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SHUTDOWN "power", "ram" sheet (connected from PCB v1.7.5)
# on PCB v1.7 shutdown is not connected to FPGA
LOCATE COMP "shutdown" SITE "G16"; # FPGA receives
IOBUF  PORT "shutdown" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

