# 12 MHz clock
set_io -nowarn clk_12mhz     35

# RS232
set_io -nowarn uart_rx     6
set_io -nowarn uart_tx     9

# LEDs and Button
set_io -nowarn BTN_N      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# RGB LED Driver
set_io -nowarn LED_RED_N  39
set_io -nowarn LED_GRN_N  40
set_io -nowarn LED_BLU_N  41

# SPI Flash
set_io -nowarn spi_mem_flash_sclk  15
set_io -nowarn spi_mem_flash_cs    16
set_io -nowarn spi_mem_flash_mosi  14
set_io -nowarn spi_mem_flash_miso  17
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# PMOD 1A
set_io -nowarn P1A1        4
set_io -nowarn P1A2        2
set_io -nowarn P1A3       47
set_io -nowarn P1A4       45
set_io -nowarn P1A7        3
set_io -nowarn P1A8       48
set_io -nowarn P1A9       46
set_io -nowarn P1A10      44

# PMOD 1B
set_io -nowarn P1B1       43
set_io -nowarn P1B2       38
set_io -nowarn P1B3       34
set_io -nowarn P1B4       31
set_io -nowarn P1B7       42
set_io -nowarn P1B8       36
set_io -nowarn P1B9       32
set_io -nowarn P1B10      28

# PMOD 2
set_io -nowarn oled_cs     27
set_io -nowarn oled_mosi   25
set_io -nowarn P2_3        21
set_io -nowarn oled_sck    19
set_io -nowarn oled_dc     26
set_io -nowarn oled_rst    23
set_io -nowarn oled_vccen  20
set_io -nowarn oled_pmoden 18

