# For iceFUN board

set_io --warn-no-port led1	 	C10
set_io --warn-no-port led2 		A10
set_io --warn-no-port led3 		D7
set_io --warn-no-port led4 		D6
set_io --warn-no-port led5	 	A7
set_io --warn-no-port led6	 	C7
set_io --warn-no-port led7	 	A4
set_io --warn-no-port led8	 	C4
set_io --warn-no-port lcol1		A12
set_io --warn-no-port lcol2	 	D10
set_io --warn-no-port lcol3 	A6

set_io --warn-no-port lcol4 	C5
#set_io --warn-no-port spkp  	M12
#set_io --warn-no-port spkm  	M6

# fpga flash
set_io --warn-no-port flash_csn  P13
set_io --warn-no-port flash_miso P11
set_io --warn-no-port flash_mosi M11
set_io --warn-no-port flash_sclk P12
#
#set_io -pullup no -nowarn flash_io2  E12
#set_io -pullup no -nowarn flash_io3  E14

# external flash
#set_io -pullup yes flash_csn  F12
#set_io -pullup no flash_miso E12
#set_io -pullup no flash_mosi E14
#set_io -pullup no flash_sclk D14

# set_io --warn-no-port oled_sck    A3
# set_io --warn-no-port oled_mosi   A2
# set_io --warn-no-port oled_rst    A1
# set_io --warn-no-port oled_dc     C3
# set_io --warn-no-port oled_cs     D3
#
# set_io --warn-no-port oled_vccen  P1
# set_io --warn-no-port oled_pmoden P2

set_io --warn-no-port uart_tx P9
set_io --warn-no-port uart_rx P8

set_io -pullup yes  psram_ss    B14
set_io -pullup yes  psram_sclk   A2
set_io -pullup yes  psram_mosi   A1
set_io -pullup yes  psram_miso  C12
set_io -pullup yes  psram_sio2  C14
set_io -pullup yes  psram_sio3  A3
set_io -pullup yes psram_cs[0]   P1
set_io -pullup yes psram_cs[1]   P2
#set_io -pullup no -nowarn flash_io3  C14

#set_io -pullup no gpio[0]       C12
#set_io -pullup no gpio[1]       C14
#set_io -pullup no gpio[2]       D12
#set_io -pullup no gpio[3]       D14
set_io -pullup yes gpio[0]       C6  # button
set_io -pullup yes gpio[1]       C11 # button
set_io -pullup yes gpio[2]       A5  # button
set_io -pullup yes gpio[3]       A11 # button

#set_io -pullup no gpio[4]       E12
#set_io -pullup no gpio[5]       E14
set_io --warn-no-port gpio[4]  	M12 #spkp
set_io --warn-no-port gpio[5]  	M6 #spkm
set_io -pullup no gpio[6]       F12
set_io -pullup no gpio[7]       F14

set_io --warn-no-port clk_osc	  P7 #12MHz
