BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "uart_tx[0]" SITE "B9";
IOBUF PORT "uart_tx[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_rx[0]" SITE "A9";
IOBUF PORT "uart_rx[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx[1]" SITE "D6";
IOBUF PORT "uart_tx[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_rx[1]" SITE "C5";
IOBUF PORT "uart_rx[1]" IO_TYPE=LVCMOS33;


LOCATE COMP "clk_osc" SITE "P6";
IOBUF PORT "clk_osc" IO_TYPE=LVCMOS33;
LOCATE COMP "rst" SITE "L14";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;
LOCATE COMP "wifi_gpio0" SITE "M14";
IOBUF PORT "wifi_gpio0" IO_TYPE=LVCMOS33;

LOCATE COMP "sdram_clk" SITE "R15";
IOBUF PORT "sdram_clk" PULLMODE=NONE;
IOBUF PORT "sdram_clk" DRIVE=4;
IOBUF PORT "sdram_clk" SLEWRATE=FAST;
IOBUF PORT "sdram_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[0]" SITE "H15";
IOBUF PORT "sdram_addr[0]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[0]" DRIVE=4;
IOBUF PORT "sdram_addr[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[1]" SITE "B13";
IOBUF PORT "sdram_addr[1]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[1]" DRIVE=4;
IOBUF PORT "sdram_addr[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[2]" SITE "B12";
IOBUF PORT "sdram_addr[2]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[2]" DRIVE=4;
IOBUF PORT "sdram_addr[2]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[3]" SITE "J16";
IOBUF PORT "sdram_addr[3]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[3]" DRIVE=4;
IOBUF PORT "sdram_addr[3]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[4]" SITE "J15";
IOBUF PORT "sdram_addr[4]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[4]" DRIVE=4;
IOBUF PORT "sdram_addr[4]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[5]" SITE "R12";
IOBUF PORT "sdram_addr[5]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[5]" DRIVE=4;
IOBUF PORT "sdram_addr[5]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[6]" SITE "K16";
IOBUF PORT "sdram_addr[6]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[6]" DRIVE=4;
IOBUF PORT "sdram_addr[6]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[7]" SITE "R13";
IOBUF PORT "sdram_addr[7]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[7]" DRIVE=4;
IOBUF PORT "sdram_addr[7]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[8]" SITE "T13";
IOBUF PORT "sdram_addr[8]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[8]" DRIVE=4;
IOBUF PORT "sdram_addr[8]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[9]" SITE "K15";
IOBUF PORT "sdram_addr[9]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[9]" DRIVE=4;
IOBUF PORT "sdram_addr[9]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[10]" SITE "A13";
IOBUF PORT "sdram_addr[10]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[10]" DRIVE=4;
IOBUF PORT "sdram_addr[10]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[11]" SITE "R14";
IOBUF PORT "sdram_addr[11]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[11]" DRIVE=4;
IOBUF PORT "sdram_addr[11]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_addr[12]" SITE "T14";
IOBUF PORT "sdram_addr[12]" PULLMODE=NONE;
IOBUF PORT "sdram_addr[12]" DRIVE=4;
IOBUF PORT "sdram_addr[12]" SLEWRATE=FAST;
IOBUF PORT "sdram_addr[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[0]" SITE "F16";
IOBUF PORT "sdram_dq[0]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[0]" DRIVE=4;
IOBUF PORT "sdram_dq[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[1]" SITE "E15";
IOBUF PORT "sdram_dq[1]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[1]" DRIVE=4;
IOBUF PORT "sdram_dq[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[2]" SITE "F15";
IOBUF PORT "sdram_dq[2]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[2]" DRIVE=4;
IOBUF PORT "sdram_dq[2]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[3]" SITE "D14";
IOBUF PORT "sdram_dq[3]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[3]" DRIVE=4;
IOBUF PORT "sdram_dq[3]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[4]" SITE "E16";
IOBUF PORT "sdram_dq[4]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[4]" DRIVE=4;
IOBUF PORT "sdram_dq[4]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[5]" SITE "C15";
IOBUF PORT "sdram_dq[5]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[5]" DRIVE=4;
IOBUF PORT "sdram_dq[5]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[6]" SITE "D16";
IOBUF PORT "sdram_dq[6]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[6]" DRIVE=4;
IOBUF PORT "sdram_dq[6]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[7]" SITE "B15";
IOBUF PORT "sdram_dq[7]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[7]" DRIVE=4;
IOBUF PORT "sdram_dq[7]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[8]" SITE "R16";
IOBUF PORT "sdram_dq[8]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[8]" DRIVE=4;
IOBUF PORT "sdram_dq[8]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[9]" SITE "P16";
IOBUF PORT "sdram_dq[9]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[9]" DRIVE=4;
IOBUF PORT "sdram_dq[9]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[10]" SITE "P15";
IOBUF PORT "sdram_dq[10]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[10]" DRIVE=4;
IOBUF PORT "sdram_dq[10]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[11]" SITE "N16";
IOBUF PORT "sdram_dq[11]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[11]" DRIVE=4;
IOBUF PORT "sdram_dq[11]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[12]" SITE "N14";
IOBUF PORT "sdram_dq[12]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[12]" DRIVE=4;
IOBUF PORT "sdram_dq[12]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[13]" SITE "M16";
IOBUF PORT "sdram_dq[13]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[13]" DRIVE=4;
IOBUF PORT "sdram_dq[13]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[14]" SITE "M15";
IOBUF PORT "sdram_dq[14]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[14]" DRIVE=4;
IOBUF PORT "sdram_dq[14]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dq[15]" SITE "L15";
IOBUF PORT "sdram_dq[15]" PULLMODE=NONE;
IOBUF PORT "sdram_dq[15]" DRIVE=4;
IOBUF PORT "sdram_dq[15]" SLEWRATE=FAST;
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_wen" SITE "A15";
IOBUF PORT "sdram_wen" PULLMODE=NONE;
IOBUF PORT "sdram_wen" DRIVE=4;
IOBUF PORT "sdram_wen" SLEWRATE=FAST;
IOBUF PORT "sdram_wen" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_rasn" SITE "B16";
IOBUF PORT "sdram_rasn" PULLMODE=NONE;
IOBUF PORT "sdram_rasn" DRIVE=4;
IOBUF PORT "sdram_rasn" SLEWRATE=FAST;
IOBUF PORT "sdram_rasn" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_casn" SITE "G16";
IOBUF PORT "sdram_casn" PULLMODE=NONE;
IOBUF PORT "sdram_casn" DRIVE=4;
IOBUF PORT "sdram_casn" SLEWRATE=FAST;
IOBUF PORT "sdram_casn" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_csn" SITE "A14";
IOBUF PORT "sdram_csn" PULLMODE=NONE;
IOBUF PORT "sdram_csn" DRIVE=4;
IOBUF PORT "sdram_csn" SLEWRATE=FAST;
IOBUF PORT "sdram_csn" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_cke" SITE "L16";
IOBUF PORT "sdram_cke" PULLMODE=NONE;
IOBUF PORT "sdram_cke" DRIVE=4;
IOBUF PORT "sdram_cke" SLEWRATE=FAST;
IOBUF PORT "sdram_cke" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[0]" SITE "G15";
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE;
IOBUF PORT "sdram_ba[0]" DRIVE=4;
IOBUF PORT "sdram_ba[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_ba[1]" SITE "B14";
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE;
IOBUF PORT "sdram_ba[1]" DRIVE=4;
IOBUF PORT "sdram_ba[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dqm[0]" SITE "C16";
IOBUF PORT "sdram_dqm[0]" PULLMODE=NONE;
IOBUF PORT "sdram_dqm[0]" DRIVE=4;
IOBUF PORT "sdram_dqm[0]" SLEWRATE=FAST;
IOBUF PORT "sdram_dqm[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_dqm[1]" SITE "T15";
IOBUF PORT "sdram_dqm[1]" PULLMODE=NONE;
IOBUF PORT "sdram_dqm[1]" DRIVE=4;
IOBUF PORT "sdram_dqm[1]" SLEWRATE=FAST;
IOBUF PORT "sdram_dqm[1]" IO_TYPE=LVCMOS33;

IOBUF PORT "led" IO_TYPE=LVCMOS33;
LOCATE COMP "led" SITE "A12";
#LOCATE COMP "led[0]" SITE "B11";
#IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
#LOCATE COMP "led[1]" SITE "A11";
#IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
#LOCATE COMP "led[2]" SITE "A12";
#IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
#LOCATE COMP "led[3]" SITE "R1";
#IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
#LOCATE COMP "led[4]" SITE "R2";
#IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
#LOCATE COMP "led[5]" SITE "R3";
#IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
#LOCATE COMP "led[6]" SITE "R4";
#IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
#LOCATE COMP "led[7]" SITE "R5";
#IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "flash_csn" SITE "N8";
#LOCATE COMP "flash_clk" SITE "N9";
LOCATE COMP "flash_mosi" SITE "T8";
LOCATE COMP "flash_miso" SITE "T7";
LOCATE COMP "flash_io3" SITE "N7";
LOCATE COMP "flash_io2" SITE "M7";
IOBUF  PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_io3" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_io2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "spi_sclk0" SITE "J12";
#IOBUF PORT "spi_sclk0" SLEWRATE=FAST;
IOBUF PORT "spi_sclk0" IO_TYPE=LVCMOS33;
LOCATE COMP "spi_sio0_si_mosi0" SITE "H12";
#IOBUF PORT "spi_sio0_si_mosi0" SLEWRATE=FAST;
IOBUF PORT "spi_sio0_si_mosi0" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_sio0_si_mosi0" PULLMODE=UP;
LOCATE COMP "spi_cen0" SITE "G12";
#IOBUF PORT "spi_cen0" SLEWRATE=FAST;
IOBUF PORT "spi_cen0" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_cen0" PULLMODE=UP;
LOCATE COMP "spi_sio1_so_miso0" SITE "K12";
#IOBUF PORT "spi_sio1_so_miso0" SLEWRATE=FAST;
IOBUF PORT "spi_sio1_so_miso0" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_sio1_so_miso0" PULLMODE=UP;

FREQUENCY PORT "clk_osc" 25.0 MHz;
