# 12 MHz clock
set_io -nowarn clk_osc     35

# RS232
set_io -nowarn uart_rx     6
set_io -nowarn uart_tx     9

# LEDs and Button
set_io -nowarn BTN_N      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# RGB LED Driver
set_io -nowarn LED_RED_N  39
set_io -nowarn LED_GRN_N  40
set_io -nowarn LED_BLU_N  41

# SPI Flash
set_io -nowarn flash_sclk  15
set_io -nowarn flash_csn   16
set_io -nowarn flash_mosi  14
set_io -nowarn flash_miso  17
set_io -pullup no -nowarn FLASH_IO2  12
set_io -pullup no -nowarn FLASH_IO3  13

# PMOD 1A
#set_io -pullup no gpio[0]        4
#set_io -pullup no gpio[1]        2
#set_io -pullup no gpio[2]       47
#set_io -pullup no gpio[3]       45
#set_io -pullup no gpio[4]        3
#set_io -pullup no gpio[5]       48
#set_io -pullup no gpio[6]       46
#set_io -pullup no gpio[7]       44

set_io -pullup no psram_ss        4
set_io -pullup no psram_mosi      2
set_io -pullup no psram_miso     47
set_io -pullup no psram_sclk     45
set_io -pullup no psram_sio2      3
set_io -pullup no psram_sio3     48
set_io -pullup no psram_cs[0]    46
set_io -pullup no psram_cs[1]    44

# PMOD 1B
set_io -nowarn  gpio[0]    43
set_io -nowarn  gpio[1]    38
set_io -nowarn  gpio[2]    34
set_io -nowarn  gpio[3]    31
set_io -nowarn  gpio[4]    42
set_io -nowarn  gpio[5]    36
set_io -nowarn  gpio[6]    32
set_io -nowarn  gpio[7]    28

#set_io -nowarn P1B1      43
#set_io -nowarn P1B2      38
#set_io -nowarn P1B3      34
#set_io -nowarn P1B4      31
#set_io -nowarn P1B7      42
#set_io -nowarn P1B8      36
#set_io -nowarn P1B9      32
#set_io -nowarn P1B10     28

# PMOD 2
set_io -nowarn oled_cs     27
set_io -nowarn oled_mosi   25
set_io -nowarn P2_3        21
set_io -nowarn oled_sck    19
set_io -nowarn oled_dc     26
set_io -nowarn oled_rst    23
set_io -nowarn oled_vccen  20
set_io -nowarn oled_pmoden 18

